.btn-menu {
	
	display: none;
	border: 0;
	width: 40px;
	height: 25px;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	top: 12px;
	margin-right: 30px;

	.text {
		display: block;
		text-indent: 150%;
		white-space: nowrap;
		overflow: hidden;	
	}

	.bar,
	.bar:before,
	.bar:after {
		display: block;
		position: absolute;
		width: 40px;
		height: 5px;
		background-color: #fff;
		transition: all 0.3s ease-in-out;
	}

	.bar {
		top: 10px;
		left: 0;	
	}

	.bar:before {
		position: absolute;
		content: '';
		top: 10px;
		left: 0;
	}

	.bar:before {
		position: absolute;
		content: '';
		top: 10px;
		left: 0;
	}

	.bar:after {
		position: absolute;
		content: '';
		top: -10px;	
		left: 0;
	}

	@media (max-width: $phoneLarge){
		display: block;
	}

	@media (max-width: $phoneMedium){
		top: 8px;
	}

	@media (max-width: $phoneSmall){
		top: 5px;
    	margin: 0 10px 0 0;
	}	

}
	
.show-mobile-menu .btn-menu .bar {
	background-color: transparent;	
}

.show-mobile-menu .btn-menu .bar:before {
	top: 0;
	transform: rotate(45deg);	
}

.show-mobile-menu .btn-menu .bar:after {
	top: 0;
	transform: rotate(-45deg);	
}	
	
	
	
	
		
	
	
	
	
	