main {
	
	padding: 30px;

	article {
		h1:first-child {
			margin-top: 0;
		}
	}

	.logo-gulp {
		width: 80px;
		height: auto;
		float: left;
		margin-right: 24px;
		margin-bottom: 5px;
    	padding-top: 5px;

		@media (max-width: $phoneSmall){
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			float: none;
			display: block;
		}

	}

	.logo-github-octocat {
		max-width: 250px;
		height: auto;
		float: right;
		margin-left: 10px;

		@media (max-width: $phoneMedium){
			float: none;
    		margin-left: auto;
    		margin-right: auto;
    		display: block;
		}

	}

}